body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 80%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

h2, h3 {
    color: #333;
    white-space: nowrap; /* Impede que os títulos quebrem para nova linha */
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#materiaisTabela td input {
    width: auto;
    max-width: 100%;
}

#materiaisTabela input[type="number"] {
    width: 80%; /* Quantidade mais estreita */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
}

form { 
    display: grid; 
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* cria um layout responsivo */
}

form label {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 10px;
}
